<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
    <style>
        body {
            padding: 0;
            margin: 0;
            background: white;
            background-size: cover;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        form {
            background-color: white;
            height: 80%;
            width: 60%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .conta {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .login > h2{
            text-align: center;
            margin: 1em 0;
        }
        input {
            padding: 10px;
            margin: 10px 0px;
            width: 300px;
            border-radius: 5px;
            
        }

        textarea {
            width: 200px;
            height: 100px;
        }
        .submit{
           background-color: blue;
           color: white;
           border: 1px grey solid;
           outline: none;
           border-radius: 4px;
           padding: 1em 2em;
           margin: 1em;
        }
        .signin{
            background-color: red;
            color: white !important;
            padding: 1em;
            margin: 1em;
            border-radius: 5px;
            text-decoration: none;
        }
        .ready{
            color: rgb(26, 15, 189);
            text-decoration: underline;
        }
    </style>
</head>

<body>
    
    <form method="POST" action="/signup">
        <div style="color: red">
<%- include ('./partials/messages'); %>
        </div>
        
        <div class="conta">
            <div class="login">
                <h2>Signup</h2>
                <p class="p2">Create one it takes less than a minute...</p>
            </div>
            <div class="input">
                <input type="text" name="name" placeholder="&#xf007; Username" value="<%= typeof name != 'undefined' ? name : '' %>" style="font-family: Arial, 'Font Awesome 5 Free'" minlength="4" required/>
            </div>
            <div class="input">

                <input type="email" name="email" placeholder="&#xf0e0; E-mail" value="<%= typeof password != 'undefined' ? email : '' %>" style="font-family: Arial, 'Font Awesome 5 Free'" minlength="4" autocomplete="off" required/>
            </div>
            <div class="input">
                <input type="password" name="password" placeholder="&#xf023; Password" value="<%= typeof password != 'undefined' ? password : '' %>"  style="font-family: Arial, 'Font Awesome 5 Free'" minlength="6" autocomplete="off" required />
            </div>
            <input type="password" name="password2" placeholder="&#xf023; Confirm password"
                style="font-family: Arial, 'Font Awesome 5 Free'" value="<%= typeof password != 'undefined' ? password2 : '' %>" minlength="4" autocomplete="off" required/>
            <div class="check">
                <input type="checkbox" />
                <p class="remember">Remember Me</p>
                <a class="ready" href="/login">Already have an account?</p>
            </div>
        </div>
        <button class="submit">SignUp</button>
        <a class="signin">
            Sign-In with Google
        </a>
    </form>
     
</body>

</html>